/*///// PAGINA-BEDRIJFSINFO /////*/
.navigeren {float: right; margin-top: -60px;}
.navigeren ul {}
.navigeren ul li {}
.navigeren ul li {padding: 15px; background-color: white; border-radius: 15px; margin: 30px;}
.navigeren ul li a {}
.navigeren a img {width: 80px;}

.kader {
	width: 95%;
	margin: auto;
}

.info {
	
}

.kolom {
	float: left;
	width: 45%;
	margin: 15px;
	text-align: justify;
}
.kolom p {
	padding: 15px;
	padding-top: 0px;
}

.bestuur {
	margin-bottom: 75px;
}
.rij ul {
	margin: auto;
	margin-left: 20px;
	margin-right: 20px;
}
.rij li {
	margin: auto;
	margin: 7px;
	display: inline-block;
}
.rij p {
	margin-top: 10px;
	letter-spacing: 2px;
	
	display: block;
	text-align: center;
}
#canvasbestuur {
	width:500px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 0px;
}


.aandelen {
	margin-top: 150px;
	margin-bottom: 500px;
}
#canvasaandeel {
	width:500px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 40px;
}
.aandelen .rij .rijkolom {
	margin: 1%;
	width: 48%;
	float: left;
}


.adressen {
	margin: auto;
	margin-bottom: 50px;
}
.adressen #map {
  width: 90%;
  height: 500px;
  margin: auto;
  margin-top: 40px;
}
.adressen h3 {
	font-family: 'Omnes Medium';
	font-size: 18pt;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	width: 100%;
	color: rgb(254, 195, 33);
}
.adressen .rij .rijkolom {
	margin: 1%;
	width: 48%;
	float: left;
}
.adressen .rij .rijkolom h3 {
	font-family: 'Omnes Medium';
	font-size: 18pt;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	width: 100%;
	color: white;
}


.plaatsmakker {
	color: rgb(254, 195, 33);
}
